/* SEÇÃO 3: PALETA DE CORES*/
.sobre-paleta {
    background-color: var(--white);
    padding: 80px 20px;
    text-align: center;
  }
  
  .sobre-paleta h2 {
    color: var(--primary);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
  }
  
  .section-desc {
    color: #64748B;
    margin-bottom: 50px;
  }
  
  .paleta-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .cor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .cor-swatch {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Círculo */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s;
  }
  
  .cor-swatch:hover {
    transform: scale(1.1);
  }
  
  .cor-card strong {
    color: var(--text);
    font-size: 1.1rem;
  }
  
  .cor-card span {
    color: #64748B;
    font-size: 0.9rem;
  }