/* SEÇÃO 3: PALETA DE CORES*/
.sobre-paleta {
    background-color: var(--white);
    padding: 80px 20px;
    text-align: center;
  }
  
  .sobre-paleta h2 {
    color: var(--primary);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
  }
  
  .section-desc {
    color: #64748B;
    margin-bottom: 50px;
  }
  
  .paleta-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  