/* Remove margens padrões para ocupar tela toda */
.home-container {
    width: 100%;
  }

/* Responsividade para Tablets */
@media screen and (max-width: 1024px) {
  /* Tablet: Mostra 3 cards */
  .carousel-item {
    width: calc(33.333% - 16px);
  }
}
  /* Responsividade para Celulares */
  @media screen and (max-width: 768px) {
    .hero-title {
      font-size: 2.2rem;
    }
    
    .hero-text {
      font-size: 1rem;
    }

    .features-grid {
        flex-direction: column; /* No celular, empilha um embaixo do outro */
        align-items: center;    /* Centraliza a coluna */
      }

    .features-section {
        padding-top: 60px; /* No celular pode ser menor o espaço */
      }
      
      /* Ajuste Carrossel */
    .section-header {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .carousel-item {
      width: calc(50% - 12px);
    }
    
    /* No celular, as setas ficam embaixo do título */
    .carousel-actions {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    
    .nav-btn {
      margin: 0; /* Remove margem lateral antiga */
    }
  }

  @media screen and (max-width: 480px) {
    /* Mobile Pequeno: Mostra 1 card (aprox 85% da tela pra ver que tem mais) */
    .carousel-item {
      width: 85%;
    }
    
    .carousel-actions {
      display: none; /* Esconde setas no celular, usa o dedo */
    }
  }